<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <title>Green Room Contact</title>
</head>

<header>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="contact-background">
    <article class="contact">
        <h1 class="contact-header about-headline contact-headline">Ready to talk?</h1>
        <h3 class="contact-reach">Reach out to us:</h3>
        <form action="https://getform.io/f/3e8cc28a-0670-41f3-829b-069ec7850e04" method="POST">
            <div class="top-form">
            <label>Your Phone Number: </label>
            <p class="bold"> +</p><input type="tel" name="countryCode" placeholder="49" class="number-input"><input type="tel" name="phoneNumber" placeholder="579-456-3210">
            </div>
            <div class="middle-form">
            <label>Your Email Address: </label>
            <input type="email" name="email">
            </div>
            <div class="bottom-form">
            <label>Your Message: </label>
            <textarea type="text" name="message"></textarea>
            <!-- add hidden Honeypot input to prevent spams -->
            <input type="hidden" name="_gotcha" style="display:none !important">
            <button type="submit">Send</button>
            </div>
        </form>
        <h3 class="contact-reach">Or contact us one of these ways:</h3>
        <div class="contact-item one">
        <p class="contact-underline contact-underline-top">Email</p>
        <p class="contact-info"><a href = "mailto: greenroomtravel@greenroomtravel.com">greenroomtravel@greenroomtravel.com</a></p>
        </div>
        <div class="contact-item-bottom">
        <div class="contact-item two">
        <p class="contact-underline contact-underline-bottom">Phone</p>
        <p class="contact-info"><a href="tel:123-456-7890">123-456-7890</a></p>
        </div>
        <div class="contact-item three">
        <p class="contact-underline contact-underline-bottom">Address</p>
        <p class="contact-info">123 Touring Road</p>
        </div>
        </div>
    </article>
</div>

<footer>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>

    <script src="contact.js"></script>
</body>

</html>