<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <title>Green Room Contact</title>
</head>

<header>
    <i class="lni lni-bus"></i><h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="contact-background">
    <article class="contact">
        <h1 class="contact-header">Ready to talk?</h1>
        <h3 class="contact-reach">Reach out to us:</h3>
        <div class="contact-item one">
        <p class="contact-underline contact-underline-top">Email</p>
        <p class="contact-info"><a href = "mailto: greenroomtravel@greenroomtravel.com">greenroomtravel@greenroomtravel.com</a></p>
        </div>
        <div class="contact-item-bottom">
        <div class="contact-item two">
        <p class="contact-underline contact-underline-bottom">Phone</p>
        <p class="contact-info"><a href="tel:123-456-7890">123-456-7890</a></p>
        </div>
        <div class="contact-item three">
        <p class="contact-underline contact-underline-bottom">Address</p>
        <p class="contact-info">123 Touring Road</p>
        </div>
        </div>
    </article>
</div>

<footer>
    <i class="lni lni-bus"></i><h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</footer>

    <script src="contact.js"></script>
</body>

</html>