<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <title>Green Room Travel</title>
</head>

<header>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>

<body>

<article class="home-intro">
<div class="background-image">
    <div class="intro-top-segment">
    <h2 class="home-top-h2">Planning tours is complicated.</h2>
    <img class="intro-image-band" src="https://media.tenor.com/LuV3kuXwuq8AAAAC/band-rock.gif">
    </div>
    <h2 class="home-bottom-h2">We make it easy.</h2>
</div>
</article>

<article class="polka-dot">
    <h1 class="heading">What We Do</h1>

    <div class="strategy-item">
    <div class="strategy-odd-left">
    <img src="https://previews.123rf.com/images/olillia/olillia1208/olillia120800103/14973114-cute-set-of-different-rock-stars.jpg" class="strategy-image"></img>
    </div>
    <div class="strategy-odd-right">
    <h3 class="one">Every band is different</h3>
    <p>We will work with you to establish your budget, lodging requirements, and travel preferences in order to book the perfect tour, regardless of how much you want to spend.</p>
    </div>
    </div>

    <div class="strategy-item">
    <div class="strategy-even-left">
    <h3 class="two">Our customer preference form lets us know what you need</h3>
    <p>Will you have individual or shared rooms? Prefer to save on accomodation or sleep as close to your gig as possible? Carnivore or vegetarian? We look out for everything.</p>
    </div>
    <div class="strategy-even-right">
        <img src="https://media.istockphoto.com/id/1159227932/vector/business-woman-with-a-giant-pencil-on-his-hands-nearby-marked-checklist-on-a-clipboard-paper.jpg?s=612x612&w=0&k=20&c=7JNgYjrzks0Nbg4gsyGeWV1JdK-Iw4E11rzGQ2vY5us=" class="strategy-image"></img>
    </div>
    </div>

    <div class="strategy-item">
    <div class="strategy-odd-left">
    <img src="https://clipartix.com/wp-content/uploads/2018/03/cartoon-money-2018-5.jpg" class="strategy-image"></img>
    </div>
    <div class="strategy-odd-right">
    <h3 class="three">We save you money</h3>
    <p>Our connections with travel suppliers and vendors mean we can book your tour at no extra cost to you, and often even save money every step of the way.</p>
    </div>
    </div>

    <div class="strategy-item">
    <div class="strategy-even-left">
    <h3 class="four">We take our responsibility seriously</h3>
    <p>All your flights are carbon-neutral, with offsets provided by us at no additional charge.</p>
    </div>
    <div class="strategy-even-right">
        <img src="https://st.depositphotos.com/1001009/3085/v/950/depositphotos_30852607-stock-illustration-jet-plane.jpg"  class="airplane strategy-image"></img>
    </div>
    </div>

    <div class="strategy-item">
    <div class="strategy-odd-left">
    <img src="https://thumbs.dreamstime.com/b/cute-cartoon-little-girl-chef-character-holding-cloche-platter-illustration-isolated-white-background-cute-cartoon-little-96020749.jpg" class="strategy-image"></img>
    </div>
    <div class="strategy-odd-right">
    <h3 class="five">We cater to your needs</h3>
    <p>Every single tour plan is presented to you before we book, making sure that every arrangement is exactly how you want it.</p>
    </div>
    </div>

    <div class="strategy-item">
        <div class="strategy-even-left">
        <h3 class="six">We work for all creative people</h3>
        <p>Need to book travel for your dance troupe, art opening or film crew? We can accommodate almost any type of travel request from all sectors of the entertainment industry.</p>
        </div>
        <div class="strategy-even-right">
            <img src="https://previews.123rf.com/images/emojiimage/emojiimage1808/emojiimage180800036/112373697-members-of-film-crew-producer-on-chair-cameraman-with-equipment-costume-designer-make-up-artist-movi.jpg" class="strategy-image"></img>
        </div>
        </div>
</article>

<footer>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</footer>

<script src="index.js"></script>
</body>

</html>