<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <title>About Green Room</title>
</head>

<header>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</header>

<body>
    <div class="privacy-background">
        <div class="privacy-text-background">
    <h1 class="privacy-heading fading-animation">Privacy Policy</h1>

    <article>

<p>This privacy policy will explain how Green Room Travel uses the personal data we collect from you when you use our website.</p>

<h3>What data do we collect?</h3>
<p>Green Room Travel collects only the following data:</p>

<ul>
    <li class="italian">Your email address</li>
    <li class="italian">Your phone number</li>
</ul>

<h3>How do we collect your data?</h3>
<p>You directly provide Green Room Travel with the data we collect. We collect data and process data when you:</p>

<ul>
    <li class="italian">Enter your contact information on our contact page.</li>
    <li class="italian">Use or view our website via your browser’s cookies.</li>
</ul>

<h3>How will we use your data?</h3>
<p>Green Room Travel collects your data so that we can get in touch with you about our services when you request them.</p>

<h3>How do we store your data?</h3>
<p>Green Room Travel securely stores your data on an encrypted database.</p>

<p>Green Room Travel will keep your data for one year, then delete it if we have not started working with you in that past year.</p>

<h3>What are your data protection rights?</h3>
<p>Green Room Travel would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>

<ul>
    <li><div class="italian">The right to access</div>You have the right to request Green Room Travel for copies of your personal data.</li>

<li><div class="italian">The right to rectification</div>You have the right to request that Green Room Travel correct any information you believe is inaccurate. You also have the right to request Green Room Travel to complete the information you believe is incomplete.</li>

<li><div class="italian">The right to erasure</div>You have the right to request that Green Room Travel erase your personal data, under certain conditions.</li>

<li><div class="italian">The right to restrict processing</div>You have the right to request that Green Room Travel restrict the processing of your personal data, under certain conditions.</li>

<li><div class="italian">The right to object to processing</div>You have the right to object to Our Green Room Travel’s processing of your personal data, under certain conditions.</li>

<li><div class="italian">The right to data portability</div>You have the right to request that Green Room Travel transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>

<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at:</p>

<p>Email: greenroomtravel@greenroomtravel.com</p>

<p>Call us: 123-456-7890</p>

<p>Or write to us at: 123 Green Room Road</p>

<h3>Changes to our privacy policy</h3>
<p>Green Room Travel keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated in January 2023.</p>

<h3>How to contact us</h3>
<p>If you have any questions about Green Room Travel’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>

<p>Email us at: greenroomtravel@greenroomtravel.com</p>

<p>Call us: 123-456-7890</p>

<p>Or write to us at: 123 Green Room Road</p>


    </article>
</div>
</div>

<footer>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>

    <script src="about.js"></script>
</body>

</html>