<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <title>Green Room Services</title>
</head>

<header>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</header>

<body>

    <div class="services-background">
    <article>
        <h1 class="services-top services-headline">Green Room Services</h1>
    </article>

    <article>
        <div class="services-item">
        <div class="services-odd-left">
        <img class="service-image-left passport-image service-image" src="https://static.pollstar.com/wp-content/uploads/2022/02/fe8a5d07-af49-4e54-9400-fdd3578bed33-MasterTour.jpg"></img>
        </div>
        <div class="services-odd-right">
        <h3 class="one">Full integration with Master Tour</h3>
        <p>Each day, the Master Tour app from Eventric will suggest everything for the day ahead based on our plans for you. You’ll receive reminders for when to wake up, travel and driving directions, sound-check times, parking suggestions, weather forecasts and more.</p>
        </div>
        </div>

        <div class="services-item">
        <div class="services-even-left">
        <h3 class="two">Taking your sound overseas</h3>
        <p>Traveling overseas with your own gear can give you peace of mind while performing, but can be expensive. We can handle shipping your instruments or renting backline at your destination.</p>
        </div>
        <div class="services-even-right">
            <img class="service-image-right service-image" src="https://thumbs.dreamstime.com/b/set-musical-instruments-outline-cartoon-hand-drawing-rock-roll-icon-vintage-sticker-black-red-drum-kit-synthesizer-guitar-165118206.jpg"></img>
            </div>
        </div>

        <div class="services-item">
        <div class="services-odd-left">
        <img class="service-image-left service-image" src="https://images.squarespace-cdn.com/content/v1/50b2f215e4b0c512afb32426/1353909525993-S5WDRMAXVGLPTL9KJMZT/DCFC5_poster.jpg?format=1500w"></img>
        </div>
        <div class="services-odd-right">
        <h3 class="three">Getting the word out</h3>
        <p>Grammy-nominated visual artist Jesse LeDoux is available to our clients and can prepare tour posters and design merch for your tour.</p>
        </div>
        </div>

        <div class="services-item">
        <div class="services-even-left">
        <h3 class="four">Skip the beauraucracy</h3>
        <p>Visas are often needed for travel or to earn money while touring abroad. We can guide you through the process and take the grunt work off your plate.</p>
        </div>
        <div class="services-even-right">
            <img class="service-image-right passport-image service-image" src="https://thumbs.dreamstime.com/b/hand-drawn-cartoon-smiling-man-showing-valid-passport-visa-cartoon-smiling-man-showing-valid-passport-visa-214079362.jpg"></img>
            </div>
        </div>

        <div class="services-item">
        <div class="services-odd-left">
        <img class="service-image-left service-image" src="https://previews.123rf.com/images/vectorshowstudio/vectorshowstudio2003/vectorshowstudio200300246/142566944-travel-insurance-for-tourists-on-vacations-medical-insurant-case-online-in-tablet-with-beach-palms-s.jpg"></img>
        </div>
        <div class="services-odd-right">
        <h3 class="five">Travel insurance</h3>
        <p>Especially in today’s complicated travel world, travel insurance can save you significant money if there’s an accident or sickness on tour. We can help you set it up so you don't have to worry about a thing on the road.</p>
        </div>
        </div>

        <div class="services-item services-items-bottom">
        <div class="services-even-left">
        <h3 class="six">Extend your trip</h3>
        <p>Many clients want to enjoy the local sights before, during or after their tours. We also cater to leisure travelers and would love to plan your vacation.</p>
        </div>
        <div class="services-even-right">
            <img class="service-image-right service-image" src="https://m.media-amazon.com/images/I/91sJb3ZVrwL.jpg"></img>
            </div>
        </div>
    </article>
</div>

<footer>
    <h1><a href="/">Green Room Travel</a></h1>
    <nav>
        <ul>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>

    <script src="services.js"></script>
</body>

</html>